<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Black</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Tahoma;11.25</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="Gainsboro" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="107,127,160" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="0,34,59" />
                <SvgColor Name="Accent Paint Dark" Value="251,206,0" />
                <SvgColor Name="Accent Paint Light" Value="206,221,245" />
                <SvgColor Name="Accent Paint Lighter" Value="220,233,252" />
                <SvgColor Name="Accent Brush" Value="251,206,0" />
                <SvgColor Name="Accent Brush Light" Value="165,186,217" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="78,138,200" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="Office 2019 Black">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="38,38,38" />
                <SvgColor Name="Paint High" Value="50,50,50" />
                <SvgColor Name="Paint Shadow" Value="50,50,50" />
                <SvgColor Name="Paint Deep Shadow" Value="68,68,68" />
                <SvgColor Name="Paint Dark" Value="10,10,10" />
                <SvgColor Name="Brush" Value="241,241,241" />
                <SvgColor Name="Brush High" Value="241,241,241" />
                <SvgColor Name="Brush Light" Value="242,242,242" />
                <SvgColor Name="Brush Major" Value="102,102,102" />
                <SvgColor Name="Brush Minor" Value="70,70,70" />
                <SvgColor Name="Accent Paint" Value="0,120,212" />
                <SvgColor Name="Accent Paint Dark" Value="16,110,190" />
                <SvgColor Name="Accent Paint Light" Value="68,68,68" />
                <SvgColor Name="Accent Paint Lighter" Value="80,80,80" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="88,184,254" />
                <SvgColor Name="Red" Value="233,76,79" />
                <SvgColor Name="Green" Value="115,221,131" />
                <SvgColor Name="Blue" Value="59,154,220" />
                <SvgColor Name="Yellow" Value="248,183,96" />
                <SvgColor Name="Black" Value="212,212,212" />
                <SvgColor Name="Gray" Value="120,120,120" />
                <SvgColor Name="White" Value="50,50,50" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />-->
    </providers>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>-->
  </entityFramework>
</configuration>